.container {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.default {
  padding: $space-6 $space-7;
  gap: $space-5;
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

.fluid {
  padding: 0;
  height: calc(100vh - #{$topbar-height});
}
